.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card img {
  margin-top: 0;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.social-icons {
  margin-top: auto; /* Pushes the social icons to the bottom */
}

.social-icons a {
  box-shadow: none;
}

/* Grid */
.person-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .person-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
