.reading-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.book-entry {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.book-cover img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .book-cover img {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .book-cover img {
    width: 50px;
  }
}

.book-details {
  flex: 1;
  min-width: 250px;
}

.book-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  border-bottom: 1px solid #444;
  padding-bottom: 0.2rem;
  margin-bottom: 0.3rem;
}

.book-title a{
  box-shadow: none;
}

.book-title a:hover {
  text-decoration: underline;
}

.book-meta {
  font-size: 0.95rem;
  color: #aaa;
  margin-bottom: 0.7rem;
}

.book-notes {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #ddd;
}

.book-details p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  color: #ccc;
}

.book-details strong {
  color: #eee;
}

.book-details em {
  font-style: italic;
  color: #bbb;
}

.book-details p strong::after {
  content: " ";
}

.book-details p span {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

.book-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.book-rating .star {
  font-size: 1rem;
  color: #444;
}

.book-rating .star.filled {
  color: #f5c518;
}
