{{/*  ANALYTICS  */}}
<script data-goatcounter="https://lna-dev.goatcounter.com/count" async src="/js/goat.js"></script>

{{/*  FONTS  */}}
<link rel="stylesheet" href="/css/cantarell.css">
<link rel="stylesheet" href="/css/noto.css">

{{/*  PWA  */}}
{{ $manifestTemplate := resources.Get "manifest.webmanifest" }}
{{ $manifest := $manifestTemplate | resources.ExecuteAsTemplate "manifest.webmanifest" . }}
<link rel="manifest" href="{{ $manifest.Permalink }}">

{{/*  Map  */}}
<link rel="stylesheet" href="/packages/leaflet/leaflet.css" />
<link rel="stylesheet" href="/packages/leaflet-routing-machine/leaflet-routing-machine.css" />