{{- $portfolioPages := where site.Pages "Params.theme" "eq" "gallery-portfolio" -}}
{{- with index $portfolioPages 0 -}}
  {{- $portfolioPage := . -}}
  {{- $coverImg := "" -}}
  {{- with .Params.featured_image -}}
    {{- $featId := . -}}
    {{- $bundle := partialCached "gallery-bundle.html" $ -}}
    {{- $metaAll := partialCached "gallery-meta.html" $ -}}
    {{- with index $metaAll.byId $featId -}}
      {{- $coverImg = ($bundle.Resources.ByType "image").GetMatch .src -}}
    {{- end -}}
  {{- end -}}
  {{- if not $coverImg -}}
    {{- $images := partial "collect-portfolio.html" . -}}
    {{- with index $images 0 -}}
      {{- $coverImg = .image -}}
    {{- end -}}
  {{- end -}}
  {{- with $coverImg -}}
    {{- $thumbnail := .Filter (slice images.AutoOrient (images.Process "fit 1200x630")) -}}
    <section class="featured">
      <a class="featured-card" href="{{ $portfolioPage.RelPermalink }}"
         style="background-image: url('{{ $thumbnail.RelPermalink }}')"
         title="{{ $portfolioPage.Title }}">
        <div>
          <h2>{{ $portfolioPage.Title }}</h2>
          <p>{{ $portfolioPage.Description }}</p>
        </div>
      </a>
    </section>
  {{- end -}}
{{- end -}}
