<section class="gallery">
  <div id="gallery">
    {{- $images := partial "collect-portfolio.html" . -}}
    {{- range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") -}}
      {{- $image := .image -}}
      {{- $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) -}}
      {{- $full := $image.Filter (slice images.AutoOrient (images.Process "fit 4000x4000")) -}}
      {{- $color := index $thumbnail.Colors 0 | default "transparent" -}}
      {{- $ratio := div (mul $thumbnail.Width 1.0) $thumbnail.Height }}
      <a class="gallery-item" href="{{ $image.RelPermalink }}" data-id="{{ $image.RelPermalink | hash.FNV32a }}" data-image-name="{{ $image.Name }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" title="{{ .Title | default .Alt }}" itemscope itemtype="https://schema.org/ImageObject" style="flex-grow: {{ printf "%.4f" $ratio }}; --ratio: {{ printf "%.4f" $ratio }}">
        <figure style="background-color: {{ $color }}">
          <img loading="lazy" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" src="{{ $thumbnail.RelPermalink }}" alt="{{ .Alt }}" />
        </figure>
        <div class="like-count" aria-label="Likes"></div>
        <span class="pswp-caption-content">
          {{- with .Title }}<span class="caption-title">{{ . }}</span>{{ end -}}
          {{- if or .Aperture .ShutterSpeed .ISO .FocalLength }}
          <span class="caption-exif">
            {{- with .FocalLength }}<span class="exif-item">{{ . }}</span>{{ end -}}
            {{- with .Aperture }}<span class="exif-item">{{ . }}</span>{{ end -}}
            {{- with .ShutterSpeed }}<span class="exif-item">{{ . }}</span>{{ end -}}
            {{- with .ISO }}<span class="exif-item">{{ . }}</span>{{ end -}}
          </span>
          {{- end -}}
          {{- if or .CameraModel .LensModel }}
          <span class="caption-gear">
            {{- with .CameraModel }}<span class="gear-item">{{ . }}</span>{{ end -}}
            {{- with .LensModel }}<span class="gear-item">{{ . }}</span>{{ end -}}
          </span>
          {{- end -}}
          {{- with .Copyright }}<span class="caption-copyright">{{ . }}</span>{{ end -}}
          {{- with .Artist }}<span class="caption-artist">{{ . }}</span>{{ end -}}
          {{- with .Keywords }}<span class="caption-keywords">{{ . }}</span>{{ end -}}
        </span>
        <meta itemprop="contentUrl" content="{{ $image.Permalink }}" />
        {{- with .LicenseUrl }}
        <link itemprop="license" href="{{ . }}" />
        {{- end -}}
        {{- with site.Params.licensingPage }}
        <link itemprop="acquireLicensePage" href="{{ . | absURL }}" />
        {{- end }}
        <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
          <meta itemprop="name" content="{{ .ResolvedArtist }}" />
        </span>
        <meta itemprop="creditText" content="{{ .ResolvedArtist }}" />
        <meta itemprop="copyrightNotice" content="{{ printf "© %s" .ResolvedArtist }}" />
        <meta itemprop="name" content="{{ .Name }}" />
      </a>
    {{- end }}
  </div>
</section>
