{{- $images := slice }}

{{- $unfilteredPages := site.RegularPages }}

{{ range .Site.Home.Translations }}
{{ $unfilteredPages = $unfilteredPages | lang.Merge .Site.RegularPages }}
{{ end }}

{{- $pages := where $unfilteredPages "Section" "=" "gallery" }}

{{- range $pages }}
  {{- if not (in .Path "/archive/") -}}
    {{- range (.Resources.ByType "image") }}
      {{ $image := . }} 
      {{- with .Meta }}
      {{- $images = collections.Append $image $images }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}


{{- return $images}}