{{- $metaAll := partialCached "gallery-meta.html" . -}}
{{- $lookup  := $metaAll.bySrc -}}
{{- range . -}}
{{- $meta := index $lookup .Name -}}
{{- $id := "" -}}{{- with $meta }}{{ $id = .id }}{{ end -}}
{{- $galleryPage := site.GetPage "/gallery" -}}
{{- $link := printf "%s#%s" $galleryPage.Permalink $id -}}
{{- $image := .Filter (slice images.AutoOrient (images.Process "fit 600x600")) -}}
{{- $alt := partial "image-alt.html" . }}
<div class="responsive">
  <div class="gallery">
    <a href="{{ $link }}">
      <img
        src="{{ $image.Permalink }}"
        alt="{{ $alt }}"
      />
    </a>
  </div>
</div>
{{- end -}}
