<div class="gallery-view">
  <h2 class="home-header">Latest photography</h2>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#1877114643">
        <img
          src="https://photo.lna-dev.net/animals/P1001866_hud6b30301c99d6b3a9d84d45884537f30_15842491_filter_10933573887768330671.jpg"
          alt="Cinque Terre"
        />
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#3881058771">
        <img
          src="https://photo.lna-dev.net/animals/P1002023_hud6b30301c99d6b3a9d84d45884537f30_13896150_filter_10933573887768330671.jpg"
          alt="Forest"
        />
      </a>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#1877114643">
        <img
          src="https://photo.lna-dev.net/animals/P1001866_hud6b30301c99d6b3a9d84d45884537f30_15842491_filter_10933573887768330671.jpg"
          alt="Cinque Terre"
        />
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#3881058771">
        <img
          src="https://photo.lna-dev.net/animals/P1002023_hud6b30301c99d6b3a9d84d45884537f30_13896150_filter_10933573887768330671.jpg"
          alt="Forest"
        />
      </a>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#1877114643">
        <img
          src="https://photo.lna-dev.net/animals/P1001866_hud6b30301c99d6b3a9d84d45884537f30_15842491_filter_10933573887768330671.jpg"
          alt="Cinque Terre"
        />
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#3881058771">
        <img
          src="https://photo.lna-dev.net/animals/P1002023_hud6b30301c99d6b3a9d84d45884537f30_13896150_filter_10933573887768330671.jpg"
          alt="Forest"
        />
      </a>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#1877114643">
        <img
          src="https://photo.lna-dev.net/animals/P1001866_hud6b30301c99d6b3a9d84d45884537f30_15842491_filter_10933573887768330671.jpg"
          alt="Cinque Terre"
        />
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net/animals/#3881058771">
        <img
          src="https://photo.lna-dev.net/animals/P1002023_hud6b30301c99d6b3a9d84d45884537f30_13896150_filter_10933573887768330671.jpg"
          alt="Forest"
        />
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://photo.lna-dev.net">
        <p class="more">All photos</p>
      </a>
    </div>
  </div> 

  <div class="clearfix"></div>
</div>
