<div class="gallery-view">
  <h2 class="home-header">{{ i18n "photography_title" }}</h2>

  {{- $images := slice }}
  {{- $unfilteredPages := site.RegularPages }}

  {{ range .Site.Home.Translations }}
  {{ $unfilteredPages = $unfilteredPages | lang.Merge .Site.RegularPages }}
  {{ end }}

  {{- $pages := where $unfilteredPages "Section" "=" "gallery" }}

  {{- range $pages }}
    {{- range (.Resources.ByType "image") }}
      {{ $image := . }} 
      {{- with .Exif }}
      {{- $images = collections.Append $image $images }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{ $sorted := collections.Sort $images ".Exif.Date" "desc" }}
  {{ $finalItems := collections.First 8 $sorted }}

  {{ range $finalItems }}

  {{- $link := strings.Replace .Permalink ( print "/" .Name ) (print "#" (.RelPermalink | crypto.FNV32a)) }}
  {{- $image := .Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}

  <div class="responsive">
    <div class="gallery">
      <a href="{{ $link }}"> 
        <img
          src="{{ $image.Permalink }}"
          alt="{{ .Params.alt }}"
        />
      </a>
    </div>
  </div>

  {{ end }}
  
  <div class="responsive">
    <div class="gallery">
      <a href="/en/gallery">
        <p class="more">All photos</p>
      </a>
    </div>
  </div> 

  <div class="clearfix"></div>
</div>
